.option-hs {
    position: absolute;
    background: #284a4e;
    top: 10%;
    left: 10%;
    right: 10%;
    height: 50%;
}

.switch-position {
    position: relative;
    left: 47%;
}

.sliders-container {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
    background: #434a57;
    margin: auto;
}

.label {
    text-align: center;
    color: #e6e6e6;
    display: block;
}

.input {
    padding: 8px;
    margin: auto;
    display: block;
    border: none;
    color: #e6e6e6;
    background: #355a92;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #e6e6e6;
    width: 50%;
}

.input-disable {
    background: #1a1e5759;
}

p {
    text-align: center;
    color: #e6e6e6;
    display: block;
}  

main div {
    background: #434a57;
    padding: 15px;
    width: 50%;
}
  
.flex-center {
    display: flex;
    justify-content: center;
}
  